// -
//   var skills = [
//     {
//       "number": statistics.age,
//       "text": "Возраст начала занятий на скрипке"
//     },
//     {
//       "number": statistics.concerts,
//       "text": "Концертов отыграл"
//     },
//     {
//       "number": statistics.cities,
//       "text": "Максимальное число городов в туре"
//     },
//     {
//       "number": statistics.years,
//       "text": "Лет на сцене в качестве скрипача"
//     }
//   ]

